extends ../layout
block content
    h1 Page non trouvée
    div
        ul 
            li 
                a(href='/home') Acceuil
            li 
                a(href='/contact') Contact
            li 
                a(href='/users') Utilisateurs
            li 
                a(href='/services') Services
    div 
        a(href='/home') Retour à l'acceuil 

//- const layout = require('../layout')
//- module.exports = `${layout}
//-     <h1>Page non trouvée erreur 404</h1>
//-     <div>
//-         <ul>
//-             <li><a href="/home">Acceuil</a></li>
//-             <li><a href="/contact">Contact</a></li>
//-             <li><a href="/users">Utilisateurs</a></li>
//-             <li><a href="/services">Services</a></li>
//-         </ul>
//-     </div>
//-     <div><a href="/home">Retour à l'acceuil</a></div>
//-     <span></span>
    
//- </body>
//- </html>`;